.card-c{
    background-image:url('/Senery_letterhead-2-empty.jpg'); 
    background-size: cover; 
    height:1527px;
}


.card-body-c{
    margin-top: 180px;
}

.textarea-c{
    opacity: 0.7;
}

.button-head-c{
    position: fixed;
    z-index: 999;
    right: 0;
}

.button-c{
    width: 100%!important;
}