.card-c{
    background-image:url('/Senery_letterhead-2-empty.jpg'); 
    background-size: cover; 
    height:1527px;
}

.footer-background {
    background-image: url('/pdf-footer.jpg');
    background-size: cover;
    height: 100%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    border: none;
}

.fill img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.card-body-c{
    margin-top: 180px;
}

.textarea-c{
    opacity: 0.7;
}

.button-head-c{
    position: fixed;
    z-index: 999;
    right: 0;
}

.button-c{
    width: 100%!important;
}
.backg-c {
    background-color: #1aafff;
}

.color-c {
    color: #1aafff;
    font-size: 20px;
}

.input-c {
    width: 100%;
    background-color: #1aafff;
    /* border: 1px solid #fff; */
    color: white;
    border: none;
}

.input-c:hover{
    border: 1px solid #fff;
}

.item-input-c{
    border: none;
    background: transparent;
}
.item-input-c:hover{
    border: 1px solid #1aafff;
}
.customHover:hover {
    background-color: #1aafff;
    color: white;
}